@media (max-width: 1200px) {
  .container {
    width: 96%;
  }

  .header {
    &__menu {
      &-item {
        padding-right: 7px;
      }

      &-link {
        margin-left: 7px;
        font-size: 14px;
      }
    }

    &__contacts {
      font-size: 12px;

      a {
        font-size: 16px;
      }
    }
  }
  .promo {
    &__header {
      font-size: 66px;
      line-height: 66px;
    }

    &__subheader {
      font-size: 38px;
      line-height: 38px;
    }

    &__icon {
      width: 225px;
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 98%;
  }

  .button {
    width: 115px;
    height: 35px;
    font-size: 10px;

    &_main {
      width: 230px;
      height: 57px;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .header {
    &__logo {
      width: 77px;
      height: 80px;

      img {
        width: 100%;
      }
    }
    &__menu {
      &-item {
        padding-right: 5px;
      }

      &-link {
        margin-left: 5px;
        font-size: 12px;
      }
    }

    &__contacts {
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }
  }
  .promo {
    &__line {
      width: 90%;
    }

    &__header {
      font-size: 65px;
      line-height: 65px;
    }

    &__subheader {
      font-size: 37px;
      line-height: 37px;
    }

    &__icon {
      width: 205px;
      font-size: 14px;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 99%;
  }

  .button {
    width: 80px;
    height: 35px;
    font-size: 8px;
    line-height: 8px;

    &_main {
      width: 200px;
      height: 45px;
      font-size: 15px;
      font-weight: 700;
    }
  }

  .header {
    &__logo {
      width: 56px;
      height: 58px;

      img {
        width: 100%;
      }
    }

    &__menu {
      &-item {
        padding-right: 3px;
        border: none;
      }

      &-link {
        margin-left: 3px;
        font-size: 10px;
      }
    }

    &__contacts {
      font-size: 9px;

      a {
        font-size: 9px;
      }
    }
  }
  .promo {
    &__head {
      margin-top: 10px;
      font-size: 19px;
    }

    &__line {
      width: 90%;
    }

    &__header {
      font-size: 60px;
      line-height: 60px;
    }

    &__subheader {
      font-size: 30px;
      line-height: 30px;
    }

    &__icon {
      width: 205px;
      font-size: 12px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .button {
    width: 80px;
    height: 35px;
    font-size: 8px;
    line-height: 8px;

    &_main {
      width: 200px;
      height: 45px;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .header {
    flex-wrap: wrap;
    justify-content: space-around;

    &__menu {
      &-link {
        margin-left: 3px;
        font-size: 9px;
      }
    }

    &__contacts {
      font-size: 9px;

      a {
        font-size: 9px;
      }
    }
  }
  .promo {
    &__head {
      margin-top: 10px;
      font-size: 17px;
    }

    &__line {
      width: 90%;
    }

    &__header {
      font-size: 55px;
      line-height: 55px;
    }

    &__subheader {
      font-size: 25px;
      line-height: 25px;
    }

    &__icons {
      flex-wrap: wrap;
    }

    &__icon {
      margin: 0 auto;
      width: 205px;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
