@media (max-width: 1200px) {
  .container {
    width: 96%;
  }

  .header {
    &__menu {
      &-item {
        padding-right: 7px;
      }

      &-link {
        margin-left: 7px;
        font-size: 14px;
      }
    }

    &__contacts {
      font-size: 12px;

      a {
        font-size: 16px;
      }
    }
  }

  .promo {
    &__header {
      font-size: 66px;
      line-height: 66px;
    }

    &__subheader {
      font-size: 38px;
      line-height: 38px;
    }

    &__icon {
      width: 225px;
    }
  }

  .advantages {
    &__items {
      width: 455px;
    }
  }

  .works {
    &__items {
      width: 300px;
    }
  }

  .prices {
    padding: 53px 0 35px 0;
    &__wrapper {
      flex-wrap: wrap;
    }

    &__items {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .consultation {
    &__wrapper {
      width: 90%;
    }
  }

  .comments {
    .carusel {
      &__inner {
        opacity: 1;
        width: 600px;
        padding: 0;
        margin: 0 auto;
      }

      .slick-prev,
      .slick-next {
        left: 31%;
      }

      .slick-next {
        left: auto;
        right: 31%;
      }
    }
  }
}

@media (max-width: 991px) {
  .container {
    width: 98%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .button {
      width: 115px;
      height: 35px;
      font-size: 10px;

      &_main {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
      }
    }

    &__logo {
      width: 77px;
      height: 80px;

      img {
        width: 100%;
      }
    }
    &__menu {
      &-link {
        font-size: 14px;
      }
    }

    &__contacts {
      font-size: 12px;

      a {
        font-size: 12px;
      }
    }
  }

  .promo {
    &__line {
      width: 90%;
    }
    &__head {
      margin-top: 15px;
    }
    &__header {
      font-size: 65px;
      line-height: 65px;
    }

    &__subheader {
      font-size: 37px;
      line-height: 37px;
    }

    &__icon {
      width: 205px;
      font-size: 14px;
    }
  }
  .advantages {
    &__items {
      width: 355px;
    }
  }

  .works {
    padding: 51px 0 27px 0;
    &__wrapper {
      flex-wrap: wrap;
    }

    &__items {
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  .feed-form {
    flex-wrap: wrap;
    margin-bottom: 30px;
    input {
      margin: 0 auto;
      margin-bottom: 20px;
    }

    &_questions {
      display: flex;
      flex-direction: column;
      input {
        min-width: 450px;
      }

      textarea {
        max-width: 500px;
      }
    }
  }

  .footer {
    &__wrapper {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
}

@media (max-width: 767px) {
  .container {
    width: 99%;
  }

  .header {
    padding: 25px 0 0 0;

    .button {
      width: 130px;
      height: 35px;
      font-size: 9px;
      line-height: 8px;

      &_main {
        width: 200px;
        height: 45px;
        font-size: 15px;
        font-weight: 700;
      }
    }

    &__menu {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      height: 100vh;
      padding: 20px 15px;
      background-color: rgba(0, 0, 0, 0.8);
      transition: 0.6s all;
      z-index: 5;

      &_active {
        left: 0;
      }

      &-item {
        margin: 10px 0;
        font-size: 20px;
        border: none;
      }

      &-link {
        display: block;
        font-size: 20px;
      }
    }

    .hamburger {
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      transform: translateY(-50%);
      width: 26px;
      height: 12px;
      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #ec644b;
        margin-bottom: 2px;
        transition: 0.6s all;
      }
      &_active {
        span {
          box-shadow: 5px 5px 10px #ec644b;
          background-color: #ec644b;
          margin-bottom: -2px;
          &:nth-child(1) {
            transform: translateY(3px) rotate(-45deg);
          }
          &:nth-child(2) {
            display: none;
          }
          &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
          }
        }
      }
    }

    &__logo {
      width: 56px;
      height: 58px;

      img {
        width: 100%;
      }
    }

    &__contacts {
      font-size: 9px;

      a {
        font-size: 9px;
      }
    }
  }

  .promo {
    &__head {
      margin-top: 10px;
      font-size: 19px;
    }

    &__line {
      width: 90%;
    }

    &__header {
      font-size: 60px;
      line-height: 60px;
    }

    &__subheader {
      font-size: 30px;
      line-height: 30px;
    }

    &__icons {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__icon {
      margin-bottom: 20px;
    }
  }
  .advantages {
    &__items {
      width: 245px;
      align-items: center;
      flex-direction: column;
    }
  }

  .consultation {
    .feed-form {
      margin-bottom: 30px;
    }
  }

  .questions {
    &__wrapper {
      width: 95%;
    }
  }

 .comments{
  .carusel {
    &__inner {
      opacity: 1;
      max-width: 500px;
      padding: 0;
      margin: 0 auto;
    }
  }
 }

  .footer {
    &__title {
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }

  .button {
    width: 130px;
    height: 35px;
    font-size: 8px;
    line-height: 8px;

    &_main {
      width: 200px;
      height: 45px;
      font-size: 15px;
      font-weight: 700;
    }

    &_tabs {
      width: 120px;
      height: 35px;
      font-size: 10px;
    }

    &_form {
      width: 120px;
      height: 35px;
      font-size: 10px;
    }

    &_mg {
      width: 120px;
      height: 35px;
      font-size: 10px;
    }
  }

  .header {
    flex-wrap: wrap;
    justify-content: space-around;

    &__contacts {
      font-size: 9px;

      a {
        font-size: 9px;
      }
    }

   &__menu{
    &-link{
      font-size: 17px;
    }
   }
  }

  .promo {
    &__head {
      margin-top: 10px;
      font-size: 17px;
    }

    &__line {
      width: 90%;
    }

    &__header {
      font-size: 55px;
      line-height: 55px;
    }

    &__subheader {
      font-size: 25px;
      line-height: 25px;
    }

    &__icons {
      flex-wrap: wrap;
    }

    &__icon {
      margin: 0 auto;
      width: 205px;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }

  .feed-form {

    &_questions {
      display: flex;
      flex-direction: column;

      input {
        min-width: 280px;
      }

      textarea {
        max-width: 280px;
      }
    }
  }

  .comments{
    .carusel {
      &__inner {
        opacity: 1;
        max-width: 270px;
        padding: 0;
        margin: 0 auto;
      }
    }
   }

   
}
