.agent {
  background: url("../../img/backgrounds/background_2.jpg") center
    (center/cover) no-repeat;
  min-height: 342px;
  padding: 58px 0 75px 0;

  img {
    display: block;
    margin: 0 auto;
  }
}
