.button {
  outline: none !important;
  width: 160px;
  height: 45px;
  background-color: #ec644b;
  border: none;
  border-radius: 20px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.6s all;
  

  &_main {
    display: block;
    margin: 39px auto 0 auto;
    width: 230px;
    height: 57px;
    font-size: 15px;
    font-weight: 700;
  }

  &_tabs {
    display: block;
    margin: 25px auto 0 auto;
  }

  &_form {
    width: 180px;
  }

  &_mg {
    display: block;
    margin: 20px auto 0 auto;
  }

  &_wrapper {
    position: relative;
    margin: 0 auto;
  }

  &:active {
    top: 1px;
    box-shadow: 0px 0px 15px #ec644b inset;
  }

  &:hover {
    position: relative;
    box-shadow: 0px 0px 15px #ec644b inset, 1px 1px 10px #ec644b;
    text-shadow: 1px 1px 20px white;
  }
}
