.carusel {
  position: relative;
  padding-bottom: 20px;


  &__inner {
    transition: 0.6s all;
    width: 602px;
    opacity: 0.6;
    font-size: 9px;
    text-align: center;
    font-weight: 300;

    

    span {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 700;
      color: #3a3a3a;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
  

  .slick-center {
    transition: 0.6s margin-top;
    opacity: 1;
    margin: 60px auto 0 auto;
    font-size: 14.1px;
    text-align: center;
    font-weight: 300;

    span {
      display: block;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 700;
      color: #3a3a3a;
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 41%;
    border: none;
    background-color: white;
    outline: none;
    z-index: 1;
  }

  .slick-next {
    left: auto;
    right: 41%;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px;
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;

      button {
        font-size: 0;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "•";
          font-size: 40px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          text-align: center;
          opacity: 0.25;
          color: black;
        }
      }
    }

    .slick-active {
      button {
        &::before {
          opacity: 0.75;
          color: black;
        }
      }
    }
  }
  
}
