.carusel {
  padding-bottom: 20px;

  &__inner {
    max-width: 700px;
    transition: 0.6s all;
    padding: 10%;
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
    font-weight: 300;

    span {
      display: block;
      margin: 0 auto;
      font-size: 14px;
      font-weight: 700;
      color: #3a3a3a;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .slick-center {
    transition: 0.6s all;
    margin: 60px auto 0 auto;

    .carusel__inner {
      transform: translateX(-17.5%);
      font-size: 14.1px;
      text-align: center;
      font-weight: 300;
      opacity: 1;
      min-width: 670px;

      span {
        display: block;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 700;
        color: #3a3a3a;
      }
    }
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    left: 41%;
    border: none;
    background: rgba($color: white, $alpha: 0);
    outline: none;
    z-index: 1;

    &:active {
      .arrow {
        &_left {
          &::before,
          &:after {
            top: 1px;
            left: 1px;
            box-shadow: 0 0 0 30px #eb7039 inset;
          }
        }
        &_right {
          &::before,
          &:after {
            top: 1px;
            left: 1px;
            box-shadow: 0 0 0 30px #eb7039 inset;
          }
        }
      }
    }

    &:hover {
      .arrow {
        &_left {
          &::before,
          &:after {
            position: relative;
            box-shadow: 0 0 0 30px #eb7039 inset, 1px 1px 10px #eb7039;
          }
        }
        &_right {
          &::before,
          &:after {
            position: relative;
            box-shadow: 0 0 0 30px #eb7039 inset, 1px 1px 10px #eb7039;
          }
        }
      }
    }
  }

  .slick-next {
    left: auto;
    right: 41%;
  }

  .slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0px;
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;

      button {
        font-size: 0;
        border: 0;
        outline: none;
        background: transparent;

        &::before {
          content: "•";
          font-size: 40px;
          line-height: 20px;
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          text-align: center;
          opacity: 0.25;
          color: black;
        }
      }
    }

    .slick-active {
      button {
        &::before {
          opacity: 0.75;
          color: black;
        }
      }
    }
  }
}
