.promo {
  background: url("../../img/backgrounds/background_1.png") center
    (center/cover) no-repeat;
  height: 680px;
  padding: 0 0 82px 0;

  &__head {
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
  }

  &__header {
    margin-top: 26px;
    text-align: center;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ec644b;
  }

  &__subheader {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__line {
    height: 10px;
    width: 809px;
    margin: 38px auto 0 auto;
    img {
      width: 100%;
    }
  }

  &__icons {
    margin-top: 37px;
    display: flex;
    justify-content: space-between;
  }

  &__icon {
    width: 260px;
    text-align: center;
    align-self: start;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
