.title {
  margin-bottom: 0;
  text-align: center;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2e2e;

  &_advantage{
    margin-top: 20px;
    text-transform: none;
    color: #ffffff;
  }
}
