@import './libs/bootstrap-reboot.min';
@import './libs/aos';
@import './libs/slick';


* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;

  &_carusel {
    width: 1400px;
    margin: 0 auto;
    padding: 31px 0 65px 0;
  }
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@import "blocks/header";
@import "blocks/buttons";
@import "blocks/promo";
@import "blocks/titles";
@import "blocks/advantages";
@import "blocks/lines";
@import "blocks/works";
@import "blocks/agents";
@import "blocks/subtitles";
@import "blocks/prices";
@import "blocks/forms";
@import "blocks/consultation";
@import "blocks/wrappers";
@import "blocks/managers";
@import "blocks/methods";
@import "blocks/comments";
@import "blocks/carusel";
@import "blocks/questions";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/maps";
@import "blocks/pageup";

@import "base/media";
