* {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

@import "blocks/header";
@import "blocks/buttons";
@import "blocks/promo";
@import "blocks/titles";
@import "blocks/advantages";
@import "blocks/lines";
@import "blocks/works";
@import 'blocks/agents';

@import "base/media";
